<div class="modal-header">
  产品信息
</div>
<div class="modal-body wrapper-lg">
  <div class="row">
    <div class="col-sm-12">
      <form role="form" class="form-horizontal">
        <div class="form-group">
          <label class="col-sm-3 text-right text-muted control-label">产品名称</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" ng-model="items.name">
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 text-right text-muted control-label">产品数量</label>
          <div class="col-sm-9">
            <input type="tel" class="form-control" ng-model="items.quantity">
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 text-right text-muted control-label">产品价格</label>
          <div class="col-sm-9">
            <input type="tel" class="form-control" ng-model="items.price">
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 text-right text-muted control-label">生产日期</label>
          <div class="col-sm-9">
            <input type="date" class="form-control" ng-model="items.proData" >
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 text-right text-muted control-label">质保过期</label>
          <div class="col-sm-9">
            <input type="date" class="form-control" ng-model="items.overData">
          </div>
        </div>
        <div class="form-group">
        </div>
        <div class="form-group">
          <div class="col-sm-4 col-sm-offset-4">
            <button class="btn btn-success" type="submit">提交修改</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>