<div class="modal-header">
  企业信息
</div>
<div class="modal-body wrapper-lg">
  <div class="row">
    <div class="col-sm-12">
      <form role="form" class="form-horizontal">
        <div class="form-group">
          <label class="col-sm-3 text-right text-muted control-label">登录账号</label>
          <label class="col-sm-9">zhoujy</label>
        </div>
        <div class="form-group">
          <label class="col-sm-3 text-right text-muted control-label">企业名称</label>
          <label class="col-sm-9">嘉兴禾码科技服务有限公司</label>
        </div>
        <div class="form-group">
          <label class="col-sm-3 text-right text-muted control-label">企业营业执照</label>
          <label class="col-sm-9">30495948383839829847847</label>
        </div>
        <div class="form-group">
          <label class="col-sm-3 text-right text-muted control-label">法人（负责人）</label>
          <label class="col-sm-9">周佳缘</label>
        </div>
        <div class="form-group">
          <label class="col-sm-3 text-right text-muted control-label">联系电话</label>
          <label class="col-sm-9">13967314931</label>
        </div>
        <div class="form-group">
          <label class="col-sm-3 text-right text-muted control-label">试用结束时间</label>
          <div class="col-sm-6">
            <input type="date" class="form-control input-sm">
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 text-right text-muted control-label">营业执照</label>
          <div class="col-sm-9">
            <img src="img/c5.jpg" class="b b-a wrapper-xs bg-white img-responsive">
          </div>
        </div>

        <div class="checkbox m-t-lg">
          <button type="submit" class="btn btn-sm btn-success pull-right text-uc m-t-n-xs" ng-click="ok()"><strong>通过</strong></button>
          <button type="submit" class="btn btn-sm btn-danger  text-uc m-t-n-xs" ng-click="clear()"><strong>不通过</strong></button>
        </div>
      </form>
    </div>
  </div>
</div>