
<div class="wrapper-md" ng-controller="audit">
  <div class="panel panel-default">
    <div class="row wrapper">
      <div class="col-sm-6">
        <div class="input-group">
          <input type="text" class="input-sm form-control" placeholder="可以用电话、公司名称等信息进行搜索" ng-model="search">
          <span class="input-group-btn">
            <button class="btn btn-sm btn-default" type="button">Go!</button>
          </span>
        </div>
      </div>
      <div class="col-sm-6 text-right">
        <button class="btn btn-success" ng-click="add('md')">新增产品</button>
      </div>
    </div>
    <div class="table-responsive">
      <table class="table m-b-none" ui-jq="footable" data-filter="#filter" data-page-size="10">
        <thead>
          <tr>
            <th>编号</th>
            <th>品名</th>
            <th>数量</th>
            <th>价格</th>
            <th>生产日期</th>
            <th>过期日期</th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="item in cart |filter:search">
            <td ng-bind="$index+1"></td>
            <td ng-bind="item.name"></td>
            <td ng-bind="item.quantity"></td>
           <td ng-bind="item.price"></td>
            <td ng-bind="item.proData"></td>
            <td ng-bind="item.overData"></td>
            <td>
              <button class="btn  btn-sm btn-success btn-addon" ng-click="see('md',item.id)"><i class="icon icon-settings"></i>查看</button>
              <button class="btn  btn-sm btn-success btn-addon" ng-click="ext('md',item.id)"><i class="icon icon-settings"></i>编辑</button>
              <button class="btn  btn-sm btn-success btn-addon" ui-sref="app.auditdemo({itemID:item.id})"><i class="icon icon-settings"></i>换页</button>
            </td>
          </tr>
        </tbody>
        <tfoot class="hide-if-no-paging">
        <tr>
          <td colspan="10" class="text-center">
            <ul class="pagination"></ul>
          </td>
        </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>